@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Croissant+One&family=Kalnia:wght@300&family=Merriweather:wght@700&family=Playfair+Display&family=Ubuntu&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu;
  
  
  background-repeat: repeat-x;
}